{% extends 'layout.njk' %}

{% block header %}
<script src="script.js" defer></script>
<title>Foodfy</title>
{% endblock %}

{% block content %}  
<section class="presentation">

  <div class="presentation__content">

    <div class="presentation__content__text">

      <h1>As melhores receitas</h1>
      <p>
        Aprenda a construir os melhores pratos
        com receitas criadas por profissionais
        do mundo inteiro.
      </p>

    </div>

    <img src="assets/chef.png" alt="Imagem Chef">

  </div>

</section>
  
<section class="trending">

  <div class="trending__content">

    <h2>Mais acessadas</h2>

    <div class="recipes recipes__content">
    
      {% for recipe in recipes %}
      <div class="recipe" id="{{loop.index0}}">
        <img src="{{recipe.image}}" alt="Imagem de {{recipe.title}}">
        
        <h3>{{recipe.title}}</h3>
        <p>por {{recipe.author}}</p>
      </div>
      {% endfor %}

    </div>

  </div>

</section>

{% endblock %}
