{% extends 'layout.njk' %}

{% block header %}
<script src="/script.js" defer></script>
<title>Receitas - Foodfy</title>
{% endblock %}

{% block recipesLink %}
<a class="about-bold" href="/recipes">Receitas</a>
{% endblock %}

{% block content %}
<section class="recipes">

  <div class="recipes__content trending__content">

    {% for recipe in recipes %}
    <div class="recipe" id="{{loop.index0}}">
      <img src="{{recipe.image}}" alt="Imagem de {{recipe.title}}">
      
      <h3>{{recipe.title}}</h3>
      <p>{{recipe.author}}</p>
    </div>
    {% endfor %}

    {% for recipe in recipes %}
    <div class="recipe" id="{{loop.index0}}">
      <img src="{{recipe.image}}" alt="Imagem de {{recipe.title}}">
      
      <h3>{{recipe.title}}</h3>
      <p>{{recipe.author}}</p>
    </div>
    {% endfor %}

  </div>

</section>  

{% endblock %}